<div class="dashboard-nav">
    <div class="dashboard-nav-inner">

        <ul data-submenu-title="Main">
            <li><a href="/dashboard"><i class="sl sl-icon-settings"></i> Dashboard</a></li>
        </ul>

        <ul data-submenu-title="Listings">
                <li class="active"><a><i class="sl sl-icon-layers"></i> My Listings</a>
                    <ul>
                        <li><a href="/active">Active <span class="nav-tag green">0</span></a></li>
                        <li><a href="#">Pending <span class="nav-tag yellow">0</span></a></li>
                        <li><a href="#">Expired <span class="nav-tag red">0</span></a></li>
                    </ul>
                </li>
            <li class="active"><a href="/listings/new"><i class="sl sl-icon-plus"></i> Add Listing</a></li>
        </ul>
    </div>
</div>
