<tr class="pricing-list-item pattern">
<td>

     <div class="fm-move"><i class="sl sl-icon-cursor-move"></i></div>
    <div class="fm-input pricing-name">
    <%= f.input_field :name, placeholder: "Name" %>
    </div>
      <div class="fm-input pricing-name">
         <%= f.input :category_ids, collection: Category.all, input_html: { class: 'chosen-select' }, label: false, checked: @categories.first %>
    </div>
    <div class="fm-input pricing-ingredients">
    <%= f.input_field :description, placeholder: "Description" %>
    </div>
    <div class="fm-input pricing-ingredients date0">
  <%= f.schedule_select :schedule%>
   </div>
</td>
</tr>
