    <header>
        <div class="container">
            <img src="http://via.placeholder.com/150x75" alt="">
            <div class="search-bar">
                <form>
                    <input type="text" name="location" placeholder="Enter your location">
                    <input type="text" name="search" placeholder="Search for fitness studios or facilities...">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
    </header>
    <!-- end of header -->

    <!-- form -->
    <section id="form">
        <div class="container">
            <div class="row">
                <h1>Become a partner</h1>
                <div class="col-md-9">
                <h3>Basic info</h3>
                    <%= simple_form_for(@listing) do |f| %>
                        <div class="segment">
                            <div class="field">
                                <p>NAME OF FACILITY *</p>
                                <%= f.input :name, label: false, placeholder: "Give your place a name"  %>
                            </div>

                            <div class="field">
                                <p>CITY *</p>
                                <div class="input">
                                <%= f.input :city, label: false, placeholder: "Search City" %>
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                            </div>

                            <div class="field">
                                <p>ARE YOU THE OWNER OR MANAGER OF THIS PLACE? *</p>
                                <input type="radio" name="yes">
                                <label for="yes">Yes</label>
                                <input type="radio" name="no">
                                <label for="no">No</label>
                            </div>

                            <div class="field">
                                <p>EMAIL</p>
                                <input type="text" name="email" placeholder="Enter your email address">
                            </div>


                            <div class="field">
                                <p>PHONE NUMBER</p>
                                <input type="text" name="phone" placeholder="Enter the phone number of this place">
                            </div>

                            <div class="field">
                                <p>LOCATION</p>
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <div class="input">
                                                <input type="text" name="location" placeholder="Enter an address so we can find this place faster">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="input">
                                                <input class="btn-detect" type="button" name="detect-location" value="Detect my location">
                                                <i class="fa fa-map-marker fa-white" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                <img src="http://via.placeholder.com/800x200" alt="">
                            </div>

                        </div>

                        <input type="button" name="more-info" value="Add more information (optional)">

                        <div class="more-info">

                            <h3>Characteristics</h3>
                            <div class="segment">

                                <div class="field">
                                    <p>Description</p>
                                    <textarea name="description" placeholder="Add a small description about this place"></textarea>
                                </div>

                                <div class="field">
                                    <p>In which category does this place belong?</p>

                                    <input type="radio" name="individual">
                                    <label for="individual">Individual sports</label>

                                    <input type="radio" name="team">
                                    <label for="team">Team sports</label>

                                    <input type="radio" name="seasonal">
                                    <label for="seasonal">Seasonal sports</label>

                                    <input type="radio" name="wellbeing">
                                    <label for="wellbeing">Wellbeing</label>

                                    <input type="radio" name="store">
                                    <label for="store">Store</label>

                                    <input type="radio" name="leisure">
                                    <label for="leisure">Leisure</label>

                                    <input type="radio" name="outdoor">
                                    <label for="outdoor">Outdoor</label>
                                </div>

                                <div class="field">
                                    <p>Payment</p>
                                    <input type="radio" name="card-and-cash">
                                    <label for="card-and-cash">Cards and cash</label>
                                    <input type="radio" name="cash-only">
                                    <label for="cash-only">Cash only</label>
                                </div>


                                <div class="field">
                                    <p>Select the amenities that you provide</p>
                                    <input type="radio" name="individual">
                                    <label for="individual">Individual sports</label>

                                    <input type="radio" name="team">
                                    <label for="team">Team sports</label>

                                    <input type="radio" name="seasonal">
                                    <label for="seasonal">Seasonal sports</label>

                                    <input type="radio" name="wellbeing">
                                    <label for="wellbeing">Wellbeing</label>

                                    <input type="radio" name="store">
                                    <label for="store">Store</label>

                                    <input type="radio" name="leisure">
                                    <label for="leisure">Leisure</label>

                                    <input type="radio" name="outdoor">
                                    <label for="outdoor">Outdoor</label>
                                </div>
                            </div>

                            <h3>Timing</h3>
                            <div class="segment">
                                <div class="field">
                                    <input type="radio" name="monday">
                                    <label for="monday">Monday</label>

                                    <input type="radio" name="tuesday">
                                    <label for="tuesday">Tuesday</label>

                                    <input type="radio" name="wednesday">
                                    <label for="wednesday">Wednesday</label>

                                    <input type="radio" name="thursday">
                                    <label for="thursday">Thursday</label>

                                    <input type="radio" name="friday">
                                    <label for="friday">Friday</label>

                                    <input type="radio" name="saturday">
                                    <label for="saturday">Saturday</label>

                                    <input type="radio" name="sunday">
                                    <label for="sunday">Sunday</label>
                                </div>
                            </div>


                            <h3>Contact info</h3>
                            <div class="segment">
                                <div class="field">
                                    <p>Email</p>
                                    <input type="text" name="email" placeholder="Enter the email address of this place">
                                </div>
                                <div class="field" style="margin-bottom:20px">
                                    <p>Website</p>
                                    <input type="text" name="website" placeholder="Enter the website URL of this place">
                                </div>
                            </div>
                        </div>

                        <input type="submit" class="btn-form" value="Add this place">

                    <% end %>
                </div>
                <div class="col-md-3">
                    <div class="segment">
                        <h3>How it works</h3>
                        <ul>
                            <li>
                                <p>
                                    If you are the owner of a sports facility, or if you are a user who's discovered a place not listed on Ryada, let us know
                                    using this form.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Once you send the information to us, our awesome content team will verify it. To help speed up the process, please provide
                                    a contact number or email address.
                                </p>
                            </li>
                            <li>
                                <p>
                                    That's it! Once verified the listing will start appearing on Ryada
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%= link_to 'Back', listings_path %>
