<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->
<div class="clearfix"></div>
<!-- Header Container / End -->


<!-- Titlebar
================================================== -->
<div id="titlebar">
  <div class="container">
    <div class="row">
            <br><br>

      <div class="col-md-12">

        <h2>Yoga for a cause</h2>

        <!-- Breadcrumbs -->
        <nav id="breadcrumbs">
          <ul>
            <li><a href="/">Home</a></li>
            <li>Yoga for a cause</li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>


<!-- Content
================================================== -->


<!-- Container -->
<div class="container">

  <div class="row">
    <div class="col-md-12">

      <section id="not-found" class="center">
        <!-- Search -->
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
           <iframe src="<%=@pdf%>" width="600" height="780" style="border: none;"></iframe>
          </div>
        </div>
        <!-- Search Section / End -->


      </section>

    </div>
  </div>

</div>
<!-- Container / End -->



<%=render 'shared/footer'%>
