/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

#landing {
  display: flex;
  align-items: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

#slider{
  background-image: url(asset-path('home.png'));
  background-size: cover;
  background-position: center center;
  padding-bottom: 255px;
  padding-top: 180px;
  height: 100vh;
}

#landing-content {
  color: $gray;
  position: relative;
  bottom: 50px;
  padding-top: 300px;
}

.video {
   position: fixed;
   top: 50%; left: 50%;
   z-index: -100;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   transform: translate(-50%, -50%);
}

#intro-content {
    width: 930px;
    margin: 60px auto 0;
    text-align: center;
    color: #00FF00;

}

#search-area {
    position: relative;
    width: 930px;
    margin: 40px auto 0;
    text-align: center;

    form {
      margin: 0;
      padding: 0;
    }
}

#search-area input {
    height: 40px;
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    padding: 0 15px 0 15px;
}

#search-form {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 0.5rem;
  border-radius: 8px;
}

hr {
    margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    border-top: 5px solid #6e6b71;
}

.wrapper-blue {
  background: $blue;
  color:gray;
}

.wrapper-gray {
  background: $gray;
  color:rgb(57,119,247);
}

.have_a_spot {
  padding:50px;
}

.home-picture {
  height: 60px;
}

.home-picture-big {
  height:200px;
}

.rent-button {
  padding: 15px;
  margin:30px;
}


/* ============================================= */
/* ================ navigation ================= */
/* ============================================= */

.navbar {
    background-color: transparent;
    border-color: transparent;
    min-height: 53px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.navbar-brand {
    width: 105px;
    height: 32px;
    margin-top: 10px;
    padding: 0px;
    background-repeat: no-repeat;
    -webkit-transition: background-image .5s;
    -moz-transition: background-image .5s;
    transition: background-image .5s;
}

.navbar .nav li a {
    font-size: 12pt;
    margin: 0 5px;
    line-height: 34px;
    transition: all ease .2s;
}

.navbar .nav li a:hover {
    color: var(--orange-accent-main);
}
.navbar .nav li a:active:focus,
.navbar .nav li a:focus,
.navbar .nav li a:active {
    color: var(--orange-accent-main);
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
    color: var(--orange-accent-main);
    background-color: transparent;
}

.navbar .navbar-nav a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 5px;
    content: '';
    opacity: 0;
    background: var(--orange-accent-main);
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

/* =================== mobile ================== */

.navbar .navbar-toggle {
    width:25px;
    height:30px;
    margin-top: 9px;
    background-color: transparent;
    border-color: transparent;
}

.navbar .navbar-toggle span {
    background-color: var(--orange-accent-main);
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .3s ease-in-out;
}

.navbar .icon-bar-1 {
    top: 10px;
}

.navbar .icon-bar-2, .navbar .icon-bar-3 {
    top: 16px;
}

.navbar .icon-bar-4 {
    top: 22px;
}

.navbar-toggle.open .icon-bar-1,
.navbar-toggle.open .icon-bar-4 {
    top: 16px;
    width: 0%;
    left: 50%;
}

.navbar-toggle.open .icon-bar-2 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navbar-toggle.open .icon-bar-3 {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.navbar span:hover,
.navbar span:focus,
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: transparent;
}

.navbar .icon-bar-1:hover,
.navbar .icon-bar-1:focus,
.navbar .icon-bar-2:hover,
.navbar .icon-bar-2:focus,
.navbar .icon-bar-3:hover,
.navbar .icon-bar-3:focus,
.navbar .icon-bar-4:hover,
.navbar .icon-bar-4:focus {
    background-color: var(--orange-accent-main);
}

.navbar .navbar-collapse {
    border-color: var(--grey-accent-dark);
}


.nav > li  {
    padding: 7px 0;
    margin-bottom: 1px;
}

.nav > li:last-child  {
    border-bottom: none;
}

@media only screen and (min-width : 320px) {
    .navbar {
        background-color: var(--grey-accent-main);
    }

    .navbar-brand {
        background-image: url("logo.png");
        margin-left: 15px;
    }

    .navbar .nav li a {
        color: white;
    }
}

@media only screen and (max-width: 768px) {

     .navbar-nav>li>a {
         padding: 5px 25px;
     }

     .navbar-brand {
         width: 80px;
         height: 24px;
         background-size: 80px 24px;
         margin-top: 14px;
     }
 }


@media (min-width: 768px) {
    .navbar {
        background-color: transparent;
    }

    .navbar-brand {
        background-image: url("logo.png");
        margin-top: 17px;
    }

    .navbar .nav li a {
        color: var(--grey-accent-main);
    }

    .nav > li  {
        border-bottom: none;
        padding: 0;
    }

    .navbar>.container .navbar-brand {
        margin-left: 0px;
    }

    .navbar-shrink {
        padding: 4px 0;
        background-color: var(--grey-accent-main);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
        -ms-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    }

    .navbar-shrink .navbar-brand {
        background-image: url("logo.png");
    }

    .navbar-shrink .nav li a {
        color: white;
    }

    .navbar .navbar-nav > .active > a::after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
    }
}
