<!-- Footer
================================================== -->
<div id="footer">
    <!-- Main -->
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <%= image_tag "logo.png", class: "footer-logo" %>

                <br><br>
                <p>The website that helps you meet your fitness goals by recommending nearby fitness classes and professionals based on your BMI.</p>
            </div>

            <div class="col-md-4 col-sm-6 ">
                <h4>Helpful Links</h4>
                <ul class="footer-links">
                <% if !user_signed_in? %>
                    <li><a href="/users/sign_in">Login</a></li>
                    <li><a href="/users/sign_in">Sign Up</a></li>
                <%end%>
                    <li><a href="/users/edit">My Account</a></li>
                    <li><a href="/listings/new">Add Listing</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>

<!--                 <ul class="footer-links">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Our Partners</a></li>
                    <li><a href="#">How It Works</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
 -->                <div class="clearfix"></div>
            </div>

            <div class="col-md-3  col-sm-12">
                <h4>Contact Us</h4>
                <div class="text-widget">
                    <span>Bliss Street, Hamra - Beirut<br> AUB, West Hall, 4<sup>th</sup> floor<br> Lebanon</span> <br>
                    Phone: <span>+961 76 414 070 </span><br>
                    E-Mail:<span> <a href="#">hello@localfitt.com</a> </span><br>
                </div>

                <ul class="social-icons margin-top-20">
                    <li><a class="facebook" href="https://www.facebook.com/localfitt/"><i class="icon-facebook"></i></a></li>
                    <li><a class="instagram" href="https://www.instagram.com/localfitt/"><i class="icon-instagram"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/LocalFitt"><i class="icon-twitter"></i></a></li>
                </ul>

            </div>

        </div>

        <!-- Copyright -->
        <div class="row">
            <div class="col-md-12">
                <div class="copyrights">© 2018 LocalFitt. All Rights Reserved.</div>
            </div>
        </div>

    </div>

</div>
<!-- Footer / End -->


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>
