<section id="slider" style="padding-bottom: 335px">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="block">
                  <div class="slider-text-area text-center">
                      <div class="slider-text">
                          <p class="sub-slider-text" style="padding-bottom:20px">Find your training spot experience</p>

                          <form action='/search' id='form_container' class='form-inline'>
                            <div class='form-group'>
                              <label for='search'><label>
                              <input id="search_box" type='text' name='search' class='form-control' placeholder= 'Where to train?'>
                              <input class="btn btn-success" type='submit' value='Search' id="searchhhdd" >
                            </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div><!-- .col-md-12 close -->
      </div><!-- .row close -->
  </div><!-- .container close -->
</section><!-- #slider close -->
