    <!-- header -->
    <header>
        <div class="container">
            <div class="headline">
                <h1>ryada</h1>
                <h1>Your way to discover sports.</h1>
            </div>
            <div class="search-bar">
                <form>
                    <input type="text" name="location" placeholder="Enter your location">
                    <input type="text" name="search" placeholder="Search for fitness studios or facilities...">
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
    </header>
    <!-- end of header -->

    <!-- categories -->
    <!-- these will be fetched from the database,
         sorted according to calculated popularity
         then plugged-in using the follow format -->
    <nav class="categories">
        <ul>
            <li><a class="selected" href="#">FOR YOU</a>
            </li>
            <li><a href="#">INDIVIDUAL</a>
            </li>
            <li><a href="#">GROUP</a>
            </li>
            <li><a href="#">FITNESS</a>
            </li>
            <li><a href="#">SEASONAL</a>
            </li>
            <li><a href="#">WELLBEING</a>
            </li>
            <li><a href="#">STORES</a>
            </li>
            <li><a href="#">CLASSES</a>
            </li>
            <li><a href="#">EVENTS</a>
            </li>
            <li><a href="#">LEISURE</a>
            </li>
            <li><a href="#">OUTDOORS</a>
            </li>
        </ul>
    </nav>
    <!-- end of categories -->

    <!-- promoted -->
    <section id="promoted">
        <div class="container">
            <h2>Places we love</h2>
            <div class="row">
                <a class="col-md-4 col-xs-12" href="#">
                    <div class="card-lg">
                        <img src="http://via.placeholder.com/350x150" alt="">
                        <p class="card-title">Fitness Zone</p>
                        <p class="card-category">Fitness Center</p>
                    </div>
                </a>
                <a class="col-md-4 col-xs-12" href="#">
                    <div class="card-lg">
                        <img src="http://via.placeholder.com/350x150" alt="">
                        <p class="card-title">Fitness Zone</p>
                        <p class="card-category">Fitness Center</p>
                    </div>
                </a>
                <a class="col-md-4 col-xs-12" href="#">
                    <div class="card-lg">
                        <img src="http://via.placeholder.com/350x150" alt="">
                        <p class="card-title">Fitness Zone</p>
                        <p class="card-category">Fitness Center</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- end of promoted -->

    <!-- featured -->
    <section id="featured">
        <div class="container">
            <h2>Browse</h2>
            <a href="#">See all</a>
            <hr>
            <div class="row">
                <div class="col-md-2 col-xs-6">
                    <div class="card-sm">
                        <img src="http://via.placeholder.com/150x150" alt="">
                        <p class="card-title">Fitness Zone</p>
                        <p class="card-category">Fitness Center</p>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <div class="card-sm">
                        <img src="http://via.placeholder.com/150x150" alt="">
                        <p class="card-title">Fitness Zone</p>
                        <p class="card-category">Fitness Center</p>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <div class="card-sm">
                        <img src="http://via.placeholder.com/150x150" alt="">
                        <p class="card-title">Fitness Zone</p>
                        <p class="card-category">Fitness Center</p>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <div class="card-sm">
                        <img src="http://via.placeholder.com/150x150" alt="">
                        <p class="card-title">Fitness Zone</p>
                        <p class="card-category">Fitness Center</p>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <div class="card-sm">
                        <img src="http://via.placeholder.com/150x150" alt="">
                        <p class="card-title">Fitness Zone</p>
                        <p class="card-category">Fitness Center</p>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <div class="card-sm">
                        <img src="http://via.placeholder.com/150x150" alt="">
                        <p class="card-title">Fitness Zone</p>
                        <p class="card-category">Fitness Center</p>
                    </div>
                </div>
            </div>

            <!-- not visible on mobile -->
            <div class="row">
                <div class="col-md-2 col-xs-6">
                    <div class="card-sm">
                        <img src="http://via.placeholder.com/150x150" alt="">
                        <p class="card-title">Fitness Zone</p>
                        <p class="card-category">Fitness Center</p>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <div class="card-sm">
                        <img src="http://via.placeholder.com/150x150" alt="">
                        <p class="card-title">Fitness Zone</p>
                        <p class="card-category">Fitness Center</p>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <div class="card-sm">
                        <img src="http://via.placeholder.com/150x150" alt="">
                        <p class="card-title">Fitness Zone</p>
                        <p class="card-category">Fitness Center</p>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <div class="card-sm">
                        <img src="http://via.placeholder.com/150x150" alt="">
                        <p class="card-title">Fitness Zone</p>
                        <p class="card-category">Fitness Center</p>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <div class="card-sm">
                        <img src="http://via.placeholder.com/150x150" alt="">
                        <p class="card-title">Fitness Zone</p>
                        <p class="card-category">Fitness Center</p>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <div class="card-sm">
                        <img src="http://via.placeholder.com/150x150" alt="">
                        <p class="card-title">Fitness Zone</p>
                        <p class="card-category">Fitness Center</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of featured -->

    <!-- by location -->
    <section id="by-location">
        <div class="container">
            <h2>Discover by location</h2>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li><a href="#">Ashrafieh (361 places)</a>
                        </li>
                        <li><a href="#">Hamra (287 places)</a>
                        </li>
                        <li><a href="#">Mar Mikhael (133 places)</a>
                        </li>
                        <li><a href="#">Dbayeh (134 places)</a>
                        </li>
                        <li><a href="#">Jounieh (171 places)</a>
                        </li>
                        <li><a href="#">Jbeil (212 places)</a>
                        </li>
                        <li><a href="#">Gemmayze (73 places)</a>
                        </li>
                        <li><a href="#">Downtown (104 places)</a>
                        </li>
                        <li><a href="#">Minet el Hosn (50 places)</a>
                        </li>
                        <li><a href="#">Zalka (65 places)</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li><a href="#">Ashrafieh (361 places)</a>
                        </li>
                        <li><a href="#">Hamra (287 places)</a>
                        </li>
                        <li><a href="#">Mar Mikhael (133 places)</a>
                        </li>
                        <li><a href="#">Dbayeh (134 places)</a>
                        </li>
                        <li><a href="#">Jounieh (171 places)</a>
                        </li>
                        <li><a href="#">Jbeil (212 places)</a>
                        </li>
                        <li><a href="#">Gemmayze (73 places)</a>
                        </li>
                        <li><a href="#">Downtown (104 places)</a>
                        </li>
                        <li><a href="#">Minet el Hosn (50 places)</a>
                        </li>
                        <li><a href="#">Zalka (65 places)</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li><a href="#">Ashrafieh (361 places)</a>
                        </li>
                        <li><a href="#">Hamra (287 places)</a>
                        </li>
                        <li><a href="#">Mar Mikhael (133 places)</a>
                        </li>
                        <li><a href="#">Dbayeh (134 places)</a>
                        </li>
                        <li><a href="#">Jounieh (171 places)</a>
                        </li>
                        <li><a href="#">Jbeil (212 places)</a>
                        </li>
                        <li><a href="#">Gemmayze (73 places)</a>
                        </li>
                        <li><a href="#">Downtown (104 places)</a>
                        </li>
                        <li><a href="#">Minet el Hosn (50 places)</a>
                        </li>
                        <li><a href="#">Zalka (65 places)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end of by location -->

    <!-- newsletter -->
    <section id="newsletter">
        <div class="container">
            <h2>Newsletter</h2>
            <form>
                <input type="email" name="email" placeholder="Enter your email">
                <input type="submit" value="Sign up">
            </form>
        </div>
    </section>
    <!-- end of newsletter -->

    <!-- footer -->
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <a href="#page-top">Ryada</a>
                </div>
                <div class="col-md-8 text-right">
                    <p>
                        <a href="#">Terms of use</a>&nbsp;
                        <a href="#">Privacy policy</a>&nbsp;
                        Copyright &copy; Ryada 2017
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- end of footer -->
<section id="header">
    <div class="container center">
        <div class="ui search">

          <div class="ui icon input">
            <input class="prompt" id="demo-search" type="text" placeholder="Search for listings or categories">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
    </div>
    <%= render "shared/algolia_scripts" %>
</section>
