<div class="portfolio">
    <%=render "nav"%>

<main role="main">
  <div id="intro-wrap" data-height="22.222">
    <div id="intro" class="preload darken">
      <div class="intro-item"  style="background-image: url('<%= image_path "events.png"%>')">
        <div class="caption attend">
          <h2>LocalFitt Beirut: Valentine Edition.</h2>
          <!-- <br> -->
          <p style="margin-bottom: 0;"> <strong>When?</strong> Saturday, 17th February. Arrival Time: 11:25 - 14:25</p>
          <p style="margin-bottom: 0;"> <strong>Where? </strong>Secret (Will be revealed privately 4 days before the event)</p>
          <p style="margin-bottom: 0;"> <strong>requirements?</strong> This event is <strong>BYOM</strong> (Bring Your Own Mat).</p>
          <p style="margin-bottom: 0;"> <strong>How much?</strong> 15,000 LBP</p>
          <strong>Note: </strong> We have limited mats for rent, each for 5,000 LBP.
        </div><!-- caption -->
      </div>
    </div><!-- intro -->
  </div><!-- intro-wrap -->

  <div id="main" class="row">
    <%=render "new"%>
    <section class="row section text-light" style="background-color:#fe424d;">
      <div class="row-content buffer even clear-after">
        <div class="testimonial-slider centertxt" data-autoplay="5000" data-pagination="true" data-transition="fade" data-autoheight="false">
          <div class="quote">
            <p>"If you've been following my stories, you definitely know how exciting yesterday was! A big thank you for Localfitt for putting together a fitness event that is the first of its kind in Beirut."</p>
            <div class="author">Vanessa</div>
          </div><!-- quote -->
          <div class="quote">
            <p>"We're lucky to have been part of the event promoting healthier and better lifestyles and meeting some really cool people with the same initiative!"</p>
            <div class="author">Nader</div>
          </div><!-- quote -->
          <div class="quote">
            <p>"Today I participated at Localfitt's event to do a yoga class... It was really amazing... I relaxed, I had a great time and I enjoyed yummy healthy bites! I decided that I should do more yoga sessions to stretch my muscles and feel more comfortable."</p>
            <div class="author">Mira</div>
          </div><!-- quote -->
        </div><!-- testimonial-slider -->
      </div>
    </section>
  </div><!-- row -->

</main><!-- main -->

<!-- <script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="js/plugins.js"></script>
<script src="js/beetle.js"></script>
 -->

</div>
